@model LogiTrack.Core.ViewModels.Vehicle.ChangeQuotientsForVehicleViewModel
@{
    ViewData["Title"] = "Change Quotients";
    Layout = "~/Views/Shared/_SpeditorLayout.cshtml";
}

<div class="main-content">
    <div class="search-item">
        <div class="search-header">
            <div class="search-icon">
                <i class="fas fa-quote-right" style="color:#00aa87; font-size:30px;"></i>
            </div>
            <h2 class="search-title"><b>Change quotients for vehicle</b></h2>
        </div>
        <h3>Change quotients now!</h3>

        <form method="post" asp-action="ChangeQuotients" asp-controller="Speditor">
            <h4>Domestics</h4>
            <div class="row">
                <div class="form-group">
                    <label asp-for="QuotientForDomesticNotSharedTruck"><b>Not shared</b></label>
                    <input type="text" asp-for="QuotientForDomesticNotSharedTruck" class="form-control" placeholder="Please enter" />
                </div>
                <div class="form-group">
                    <label asp-for="QuotientForDomesticSharedTruck"><b>Shared</b></label>
                    <input type="text" asp-for="QuotientForDomesticSharedTruck" class="form-control" placeholder="Please enter" />
                </div>
            </div>
            <h4>International</h4>
            <div class="row">
                <div class="form-group">
                    <label asp-for="QuotientForInternationalNotSharedTruck"><b>Not shared</b></label>
                    <input type="text" asp-for="QuotientForInternationalNotSharedTruck" class="form-control" placeholder="Please enter" />
                </div>
                <div class="form-group">
                    <label asp-for="QuotientForInternationalSharedTruck"><b>Shared</b></label>
                    <input type="text" asp-for="QuotientForInternationalSharedTruck" class="form-control" placeholder="Please enter" />
                </div>
            </div>

            <button type="submit" class="btn-primary"><b>SUBMIT</b></button>
        </form>
    </div>
    <style>
        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        .form-group {
            margin-bottom: 19px;
        }
    </style>
