@model LogiTrack.Core.ViewModels.Request.SearchRequestByReferenceNumberViewModel
@{
    ViewData["Title"] = "Search Request";
    Layout = "~/Views/Shared/_SpeditorLayout.cshtml";
}

<div class="search-item">
    <div class="search-header">
        <div class="search-icon">
            <i class="bi bi-search" style="font-size: 35px; color:#00aa87;"></i>
        </div>
        <h2 class="search-title"><b>Search request</b></h2>
    </div>

    <h3>Please enter your reuqest number</h3>

    @if (TempData["NotFound"] != null)
    {
        <div class="alert alert-danger">
            Request not found!
        </div>
    }

    <form asp-action="SearchRequest" asp-controller="Speditor" method="post">
        <div class="form-group">
            <label asp-for="ReferenceNumber"><b>Reference number</b></label>
            <input asp-for="ReferenceNumber" type="text" id="ReferenceNumber" class="form-control" placeholder="Please enter" />
            <span asp-validation-for="ReferenceNumber" class="text-danger" id="ReferenceNumberError"></span>
        </div>

        <button type="submit" class="btn btn-primary"><b>SEARCH</b></button>
    </form>
</div>

