@model LogiTrack.Core.ViewModels.Clients.ClientsStatisticsViewModel
@{
    ViewData["Title"] = "Clients Statistics";
    Layout = "~/Views/Shared/_LogisticsLayout.cshtml";
}

<div class="chart-container">
    <div class="cards-container">
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Clients</h3>
                <p><b>@Model.TotalClients</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>New registrations</h3>
                <p><b>@Model.NewRegistrations</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Satisfied clients</h3>
                <p><b>@Model.SatisfiedClients</b></p>
            </div>
        </div>
    </div>

    <div class="first-row">
        <div class="chart-container">
            <h4>Top 10 clients by payment</h4>
            <canvas id="topClientsChart"></canvas>
        </div>
        <div class="chart-container">
            <h4>Top 10 clients by deliveries</h4>
            <canvas id="topClientsByDeliveryVolumeChart"></canvas>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/clientsStatistics.js"></script>
}



