@model LogiTrack.Core.ViewModels.Driver.DriversStatisticsViewModel
@{
    ViewData["Title"] = "Drivers Statistics";
    Layout = "~/Views/Shared/_LogisticsLayout.cshtml";
}
<div class="chart-container">
    <div class="cards-container">
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Driers</h3>
                <p><b>@Model.TotalDrivers</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Available</h3>
                <p><b>@Model.AvailableDrivers</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Soon expiring licences</h3>
                <p><b>@Model.WithExpiringLicense</b></p>
            </div>
        </div>
    </div>

    <div class="first-row">
        <div class="chart-container">
            <h4>Top 10 drivers by deliveries</h4>
            <canvas id="topDriversChart" class="chart"></canvas>
        </div>
        <div class="chart-container">
            <h4>Top 5 drivers with intenational deliveries</h4>
            <canvas id="internationalDriversChart" class="chart"></canvas>
        </div>
    </div>
    <div class="first-row">
        <div class="chart-container">
            <h4>Expiring licenses</h4>
            <canvas id="licenseExpirationChart" class="chart"></canvas>
        </div>
        <div class="chart-container">
            <h4>Driver availability</h4>
            <canvas id="driverAvailabilityChart" class="chart"></canvas>
        </div>
    </div>
    <div class="chart-container" style="width: 400px;">
        <h4>Top 5 drivers by experience</h4>
        <canvas id="experienceDriversChart" class="chart"></canvas>
    </div>

</div>
@section Scripts {
    <script src="~/js/driverStatistics.js"></script>
}




