@model LogiTrack.Core.ViewModels.Offer.SearchOfferByOfferNumberViewModel
@{
    ViewData["Title"] = "Add Cash Register";
    Layout = "~/Views/Shared/_LogisticsLayout.cshtml";
}

<div class="search-item">
    <div class="search-header">
        <div class="search-icon">
            <i class="fas fa-tags" style="font-size: 30px; color: #00aa87;"></i>
        </div>
        <h2 class="search-title"><b>Search offer</b></h2>
    </div>

    <h3>Please enter your offer number</h3>

    @if (TempData["NotFound"] != null)
    {
        <div class="alert alert-danger">
            Offer not found!
        </div>
    }

    @if (TempData["NotAuthorized"] != null)
    {
        <div class="alert alert-danger">
            You are not authorized to view this offer!
        </div>
    }

    <form asp-action="SearchOffer" asp-controller="Clients" method="post">
        <div class="form-group">
            <label asp-for="OfferNumber"><b>Offer number</b></label>
            <input asp-for="OfferNumber" type="text" id="ReferenceNumber" class="form-control" placeholder="Please enter" />
            <span asp-validation-for="OfferNumber" class="text-danger" id="ReferenceNumberError"></span>
        </div>

        <button type="submit" class="btn btn-primary"><b>SEARCH</b></button>
    </form>
</div>


