@model LogiTrack.Core.ViewModels.Vehicle.SearchVehicleByRegistrationNumberViewModel
@{
    ViewData["Title"] = "Search Vehicle";
    Layout = "~/Views/Shared/_LogisticsLayout.cshtml";
}

<div class="search-item">
    <div class="search-header">
        <div class="search-icon">
            <i class="bi bi-search" style="font-size: 35px; color:#00aa87;"></i>
        </div>
        <h2 class="search-title"><b>Search vehicle</b></h2>
    </div>

    <h3>Please enter vehicle's registration number</h3>

    @if (TempData["NotFound"] != null)
    {
        <div class="alert alert-danger">
            Vehicle not found!
        </div>
    }

    <form asp-action="SearchVehicle" asp-controller="Logistics" method="post">
        <div class="form-group">
            <label asp-for="RegistrationNumber"><b>Registration number</b></label>
            <input asp-for="RegistrationNumber" type="text" id="ReferenceNumber" class="form-control" placeholder="Please enter" />
            <span asp-validation-for="RegistrationNumber" class="text-danger" id="ReferenceNumberError"></span>
        </div>

        <button type="submit" class="btn btn-primary"><b>SEARCH</b></button>
    </form>
</div>


