@model LogiTrack.Core.ViewModels.Invoice.InvoiceStatisticsViewModel
@{
    ViewData["Title"] = "Invoices statistics";
    Layout = "~/Views/Shared/_AccountantLayout.cshtml";
}


<div class="chart-container">
    <div class="cards-container">
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Paid amount</h3>
                <p><b>@Model.PaidAmount BGN</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Overdue amount</h3>
                <p><b>@Model.OverdueAmount BGN</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Average payment time</h3>
                <p><b>@Model.AveragePaymentTime days</b></p>
            </div>
        </div>
        <div class="card" id="locationCard">
            <div class="card-content">
                <h3>Clients with overdue invoices</h3>
                <p><b>@Model.ClientsWithOverdueInvoices</b></p>
            </div>
        </div>
    </div>

    <div class="first-row">
        <div class="chart-container">
            <h4>Invoices status ratio</h4>
            <canvas style="margin-left:50px;" id="invoiceStatusChart" class="chart"></canvas>
        </div>
        <div class="delay-time-container">
            <h4>Top 10 clients with biggest overdue amounts</h4>
            <canvas id="overdueAmountChart"></canvas>
        </div>
    </div>
    <div class="chart-container">
        <h4>Top 10 clients with overdue payments for all times</h4>
        <canvas id="latePaymentsChart" style="margin-left:310px;" class="chart"></canvas>
    </div>
</div>

@section Scripts {
    <script src="~/js/invoicesStatistics.js"></script>
}


