@model LogiTrack.Core.ViewModels.Delivery.AddStatusViewModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Dashboard</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <script src="~/js/site.js"></script>
    <style>
        .add-status {
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

            .add-status h3 {
                margin-top: 30px;
                font-size: 0.9rem;
                margin-bottom: 50px;
                font-weight: 500;
            }

        .add-status-header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .add-status-icon {
            width: 40px;
        }

        .add-status-title {
            font-size: 1.1rem;
            font-weight: 500;
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            font-size: 13px;
            margin-bottom: 5px;
            font-weight: 200;
        }

        input[type="text"] {
            width: 25%;
            border: none;
            border-bottom: 1.4px solid grey;
            padding: 8px 0;
            margin-bottom: 15px;
        }

            input[type="text"]:focus {
                outline: none;
                border-bottom-color: #00aa87;
            }

        .form-control {
            width: 50%;
            padding: 10px;
            border: 1px solid #ccc;
        }

        .btn-primary {
            background-color: #00aa87;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            box-shadow: 0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
        }

            .btn-primary:hover {
                background-color: #00aa87;
                box-shadow: 0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
            }
    </style>
</head>

<body>
    <header class="header">
        <div class="logo-name">
            <div class="company-logo">
                <img src="https://via.placeholder.com/50" alt="Company Logo">
            </div>
            <div class="company-name">LogiTrack</div>
        </div>
        <div class="profile-dropdown">
            <button onclick="toggleDropdown()">
                <i class="bi bi-person-circle"></i>
                <span class="arrow">&#x25BC;</span>
            </button>
            <div class="profile-dropdown-menu" id="profileDropdown">
                <a asp-action="Details" asp-controller="Driver">Personal details</a>
                <a asp-action="LicenseDetails" asp-controller="Driver">License</a>
                <a asp-action="Logout" asp-controller="Home">Logout</a>
            </div>
        </div>
    </header>
    <aside class="sidebar">
        <ul>
            <li>
                <a asp-action="Dashboard" asp-controller="Driver">
                    <i class="bi bi-house-door"></i> Dashboard
                </a>
            </li>
            <li>
                <a asp-action="SearchDelivery" asp-controller="Driver">
                    <i class="bi bi-plus-circle"></i> New delivery
                </a>
            </li>
            <li>
                <a asp-action="SearchDeliveries" asp-controller="Driver">
                    <i class="bi bi-truck"></i> Deliveries <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li>
                            <a asp-action="SearchDeliveries" asp-controller="Driver">
                                <i class="bi bi-box"></i> My deliveries
                            </a>
                        </li>
                        <li>
                            <a asp-action="DeliveryStatistics" asp-controller="Driver">
                                <i class="bi bi-graph-up"></i> Statistics
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </aside>
    <div class="main-content">
        <div class="add-status">
            <div class="add-status-header">
                <div class="add-status-icon">
                    <i class="bi bi-info-circle" style="color:#00aa87; font-size:30px;"></i> 

                </div>
                <h2 class="add-status-title"><b>Delivery Status</b></h2>
            </div>
            <h3>Update the status of the delivery!</h3>
            <form asp-action="AddStatus" asp-controller="Driver" asp-route-id="@Model.DeliveryId" method="post">
                <div class="form-group">
                    <label asp-for="StatusUpdate"><b>Status</b></label>
                    <input asp-for="StatusUpdate" placeholder="Please select or enter" list="statusOptions" class="form-control" onchange="toggleCargoFields()" />
                    <datalist id="statusOptions">
                        <option value="">Select Status</option>
                        <option value="In Transit">In Transit</option>
                        <option value="Delivered">Delivered</option>
                        <option value="In Customs">In Customs</option>
                        <option value="In Warehouse">In Warehouse</option>
                        <option value="Collected">Collected</option>
                    </datalist>
                </div>
                <div class="form-group">
                    <label asp-for="Notes"><b>Notes</b></label>
                    <input asp-for="Notes" class="form-control" placeholder="Please enter" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>

                <input type="hidden" id="Latitude" name="Latitude" />
                <input type="hidden" id="Longitude" name="Longitude" />

                <button type="submit" class="btn btn-primary"><b>SUBMIT</b></button>
            </form>
        </div>
    </div>
    <script>
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                document.getElementById("Latitude").value = position.coords.latitude;
                document.getElementById("Longitude").value = position.coords.longitude;
            }, function (error) {
                console.error("Geolocation error:", error);
            });
        } else {
            console.warn("Geolocation is not supported by this browser.");
        }
    </script>
</body>

</html>


