@model LogiTrack.Core.ViewModels.Delivery.AddStatusViewModel

@{
    ViewData["Title"] = "Add Status";
    Layout = "~/Views/Shared/_DriverLayout.cshtml";
}


<div class="search-item">
    <div class="search-header">
        <div class="search-icon">
            <i class="bi bi-info-circle" style="color:#00aa87; font-size:30px;"></i>

        </div>
        <h2 class="search-title"><b>Delivery Status</b></h2>
    </div>
    <h3>Update the status of the delivery!</h3>
    <form asp-action="AddStatus" asp-controller="Driver" asp-route-id="@Model.DeliveryId" method="post">
        <div class="form-group">
            <label asp-for="StatusUpdate"><b>Status</b></label>
            <input asp-for="StatusUpdate" placeholder="Please select or enter" list="statusOptions" class="form-control" onchange="toggleCargoFields()" />
            <datalist id="statusOptions">
                <option value="">Select Status</option>
                <option value="In Transit">In Transit</option>
                <option value="Delivered">Delivered</option>
                <option value="In Customs">In Customs</option>
                <option value="In Warehouse">In Warehouse</option>
                <option value="Collected">Collected</option>
            </datalist>
        </div>
        <div class="form-group">
            <label asp-for="Notes"><b>Notes</b></label>
            <input asp-for="Notes" class="form-control" placeholder="Please enter" />
            <span asp-validation-for="Notes" class="text-danger"></span>
        </div>

        <input type="hidden" id="Latitude" name="Latitude" />
        <input type="hidden" id="Longitude" name="Longitude" />

        <button type="submit" class="btn btn-primary"><b>SUBMIT</b></button>
    </form>
</div>

<script>
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            document.getElementById("Latitude").value = position.coords.latitude;
            document.getElementById("Longitude").value = position.coords.longitude;
        }, function (error) {
            console.error("Geolocation error:", error);
        });
    } else {
        console.warn("Geolocation is not supported by this browser.");
    }
</script>



