@model LogiTrack.Core.ViewModels.Driver.LicenseViewModel
@{
    ViewData["Title"] = "Delivery statistics";
    Layout = "~/Views/Shared/_DriverLayout.cshtml";
}

<div class="license-container">
    <div class="license-title">License Details</div>
    <div class="divider-line"></div>
    <div class="details-info">
        <div class="general-details">General information</div>
        <div class="license-row">
            <span><b>License Number</b></span>
            <span>@Model.LicenseNumber</span>
        </div>
        <div class="license-row">
            <span><b>Expiry Date</b></span>
            <span>@Model.LicenseExpiryDate.ToShortDateString()</span>
        </div>

        @if (TempData["LicenseExpired"] != null)
        {
            <p class="license-expiry">@TempData["LicenseExpired"]</p>
        }
    </div>
</div>
<style>
    .license-container {
        width: 800px;
        background-color: #ffffff;
        box-shadow: 0 0 25px 1px #0000000f !important;
        display: block;
    }

    .license-title {
        font-size: 23px;
        font-weight: 700;
        color: #000;
        margin-bottom: 10px;
        padding: 20px;
    }

    .divider-line {
        height: 1px;
        background-color: #e0e0e0;
        margin: 10px 0;
    }

    .details-info {
        padding: 20px;
    }

    .general-details {
        font-size: 18px;
        color: #00aa87;
        font-weight: 600;
        margin-bottom: 25px;
    }

    .license-row {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        color: #333;
        padding: 10px 0;
        margin-left: 10px;
    }

        .license-row span {
            color: black;
            font-size: 15px;
            flex: 1;
            opacity: 80%;
        }

            .license-row span:first-child {
                width: 150px;
                font-weight: bold;
            }

</style>


