@model LogiTrack.Core.ViewModels.Delivery.SearchDeliveryByReferenceNumberViewModel

@{
    Layout = null;
}
   
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Accountant Dashboard</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <script src="~/js/site.js"></script>
    <style>
        .search-delivery {
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 25px 1px #0000000f !important;
        }

        .search-header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .search-icon {
            width: 50px;
            margin-right: 10px;
        }

        .search-title {
            font-size: 1.1rem;
            font-weight: 500;
        }

        .search-delivery h3 {
            margin-top: 30px;
            font-size: 0.9rem;
            margin-bottom: 50px;
            font-weight: 500;
        }

        .form-group {
            margin-bottom: 15px;
        }


        label {
            display: block;
            font-size: 13px;
            margin-bottom: 5px;
            font-weight: 200;
        }

        input[type="text"] {
            width: 25%;
            border: none;
            border-bottom: 1.4px solid grey;
            padding: 8px 0;
            margin-bottom: 15px;
        }

            input[type="text"]:focus {
                outline: none;
                border-bottom-color: #00aa87;
            }

        .form-control {
            width: 50%;
            padding: 10px;
            border: 1px solid #ccc;
        }

        .btn-primary {
            background-color: #00aa87;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            box-shadow: 0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
        }

            .btn-primary:hover {
                background-color: #00aa87;
                box-shadow: 0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
            }

        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .alert-danger {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }
    </style>

</head>

<body>
    <header class="header">
        <div class="logo-name">
            <div class="company-logo">
                <img src="https://via.placeholder.com/50" alt="Company Logo">
            </div>
            <div class="company-name">LogiTrack</div>
        </div>
        <div class="profile-dropdown">
            <button onclick="toggleDropdown()">
                <i class="bi bi-person-circle"></i>
                <span class="arrow">&#x25BC;</span>
            </button>
            <div class="profile-dropdown-menu" id="profileDropdown">
                <a asp-action="Details" asp-controller="Driver">Personal details</a>
                <a asp-action="LicenseDetails" asp-controller="Driver">License</a>
                <a asp-action="Logout" asp-controller="Home">Logout</a>
            </div>
        </div>
    </header>
    <aside class="sidebar">
        <ul>
            <li>
                <a asp-action="Dashboard" asp-controller="Driver">
                    <i class="bi bi-house-door"></i> Dashboard
                </a>
            </li>
            <li>
                <a asp-action="SearchDelivery" asp-controller="Driver">
                    <i class="bi bi-plus-circle"></i> New delivery
                </a>
            </li>
            <li>
                <a asp-action="SearchDeliveries" asp-controller="Driver">
                    <i class="bi bi-truck"></i> Deliveries <span class="arrow">></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li>
                            <a asp-action="SearchDeliveries" asp-controller="Driver">
                                <i class="bi bi-box"></i> My deliveries
                            </a>
                        </li>
                        <li>
                            <a asp-action="DeliveryStatistics" asp-controller="Driver">
                                <i class="bi bi-graph-up"></i> Statistics
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </aside>
    <div class="main-content">
        <div class="search-delivery">
            <div class="search-header">
                <div class="search-icon">
                    <i class="bi bi-search" style="font-size: 35px; color:#00aa87;"></i>
                </div>    
                <h2 class="search-title"><b>Search delivery</b></h2>
            </div>

            <h3>Please enter your reference number</h3>

            @if (TempData["NotFound"] != null)
            {
                <div class="alert alert-danger">
                    Delivery not found!
                </div>
            }

            @if (TempData["NotAuthorize"] != null)
            {
                <div class="alert alert-danger">
                    You are not authorized to view this delivery!
                </div>
            }

            <form asp-action="SearchDelivery" asp-controller="Driver" method="post">
                <div class="form-group">
                    <label asp-for="ReferenceNumber"><b>Reference number</b></label>
                    <input asp-for="ReferenceNumber" type="text" id="ReferenceNumber" class="form-control" placeholder="Please enter" />
                    <span asp-validation-for="ReferenceNumber" class="text-danger" id="ReferenceNumberError"></span>
                </div>

                <button type="submit" class="btn btn-primary"><b>SEARCH</b></button>
            </form>
        </div>
    </div>

</body>

</html>
