
@{
    ViewData["Title"] = "Add Status";
    Layout = "~/Views/Shared/_ClientsLayout.cshtml";
}

<div class="search-delivery">
    <div class="search-header">
        <div class="search-icon">
            <i class="fas fa-tags" style="font-size: 30px; color: #00aa87;"></i>
        </div>
        <h2 class="search-title"><b>Book</b></h2>
    </div>
    <div class="have-offer">
        <h4>Do you have offer?</h4>
        <i class="bi bi-file-earmark-text" style="font-size: 150px; color: #00aa87;"></i>                <div class="have-offer-buttons">
            <div class="button-text">
                <a asp-action="SearchOffer" asp-controller="Clients" class="btn">YES</a>
                <p>Yes, I will enter offer number</p>
            </div>
            <div class="button-text">
                <a asp-action="MakeRequest" asp-controller="Clients" class=" btn-clear">NO</a>
                <p>No, I will make new request</p>
            </div>
        </div>
    </div>
</div>
<style>
    .search-delivery {
        width: 800px;
    }

    .have-offer-buttons {
        display: flex;
        margin-top: 15px;
        flex-direction: row;
        margin-bottom: 30px;
        gap: 20px;
        align-content: center;
        justify-content: center;
    }

    .btn-clear {
        width: 80px;
        text-align: center;
        text-decoration: none;
        height: 15px;
        text-decoration: none;
        background-color: white;
        color: #00aa87;
        border: 1px solid #00aa87;
        border-radius: 3px;
        padding: 12px 27px;
        cursor: pointer;
        margin-left: 50px;
        font-size: 13px;
    }

        .btn-clear:hover {
            opacity: 0.8;
        }

    .have-offer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-text p {
        font-size: 13px;
        color: #333;
        margin-top: 20px;
    }
</style>

